:root {
  img {
    float: unset;
  }
}
// .sidebar{
//   width: 300px;
// }
body {
--content-width: 1200px;
}
.waline-wrapper {
  padding: 0 !important;
}
.sidebar-items{
  p,a {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}